body {
  background: linear-gradient(135deg,#ffffff, #F2E6D8 50%, #C5AC8F 100%) no-repeat fixed;
  margin: 0;
  min-height:100vh ;
  cursor: url("/project-1-taylor-swift/assets/icons/leaf.svg"),pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --bs-link-color: #C5AC8F;       /* Sets default link color */
  --bs-link-hover-color: #9b8368; /* Sets hover color */
}

a {
  cursor: url("/project-1-taylor-swift/assets/icons/leaf.svg"),pointer;
}

.evermore {
  color: #C5AC8F;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
}

.title {
color: #9b8368;
font-weight: 400;
}

img {
  height: 200px;
  min-width: 200px;
  object-fit: cover;
}

.album-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.album-card {
  padding: 20px;
  flex-basis: 240px;
  background-color:#F2E6D8;
  display: flex;
  justify-content: space-between;
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-card:hover {
  transform: translateY(-2px);
  background-color: #ede0d0;
  box-shadow: 0 0 15px 5px #F2E6D8; 
}

.stretched-link {
  text-decoration: none;
  color: inherit;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.song-card-1 {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: space-evenly;
  text-align: justify;
}

.song-card-2 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-evenly;
  text-align: justify;
}

.song-card-1 p, 
.song-card-2 p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}