body {
  background: linear-gradient(135deg,#ffffff, #F2E6D8 50%, #C5AC8F 100%) no-repeat fixed;
  margin: 0;
  min-height:100vh ;
  cursor: url("/project-1-taylor-swift/assets/icons/leaf.svg"),pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --bs-link-color: #C5AC8F;       /* Sets default link color */
  --bs-link-hover-color: #9b8368; /* Sets hover color */
}

a {
  cursor: url("/project-1-taylor-swift/assets/icons/leaf.svg"),pointer;
}

.evermore {
  color: #C5AC8F;
  font-family: "IM Fell DW Pica", serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 44px;
}

pre, p {
  margin-bottom: 0;
}

.lyrics {
  padding: 30px 40px;
  background-color: #ffffff95;
  box-shadow: 0 0 50px 10px #fffbf5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lyrics:hover {
  transform: translateY(2px);
}

.background-story {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:justify;
  padding: 30px 30px;
  background-color: #ffffff95;
  box-shadow: 0 0 50px 10px #fffbf5;
}

@media (max-width: 768px) {
  body {
    background:#fff7ed70;
    background-attachment: scroll; /* Recommended for mobile performance */
  }
  .lyrics {
    background: none;
  }

  .background-story {
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 80px;
    background: linear-gradient(to bottom, #fff7ed70 80%, #F2E6D8 100%) no-repeat fixed;
  }

  h4 {
    margin-bottom: 24px;
  }
}
