body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.gradient-background {
   background: linear-gradient(
   45deg, 
     #677bb7 0%,
      #a6cdf1 20%,
      #dfdfbc 50%,
      #ffb6c1 100%
   );
}

.tile {
   background-color: black;
   border-radius: 15px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px 5px rgb(255, 246, 230); 
}

.container {
   padding: 10px;
   /* background: linear-gradient(
   45deg, 
   #393c54 0%,
   #a6cdf1 33%,
   #dfdfbc 66%,
   #ffb6c1 100%
   ); */
   min-height: 100vh;
   width: 100vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(16, 60px); 
   gap: 10px;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* border-radius: 10px; */
}

.one { 
   grid-area: 1 / 1 / 6 / 6; 
   cursor: url("/project-1-taylor-swift/assets/icons/leaf.svg"), pointer;
}    
.two { 
   grid-area: 1 / 6 / 4 / 9; 
   cursor: url("/project-1-taylor-swift/assets/icons/heart.svg"), pointer;
}    
.three { 
   grid-area: 4 / 6 / 6 / 9; 
   cursor: url("/project-1-taylor-swift/assets/icons/music-note-beamed.svg"), pointer;
}  

.four { 
   grid-area: 6 / 1 / 9 / 4;
   cursor: url("/project-1-taylor-swift/assets/icons/cloud-drizzle.svg"), pointer;
}
.five { 
   grid-area: 6 / 4 / 8 / 9; 
   cursor: url("/project-1-taylor-swift/assets/icons/arrow-through-heart.svg"), pointer;
}   
.six { 
   grid-area: 8 / 4 / 11 / 7;
   cursor: url("/project-1-taylor-swift/assets/icons/flower3.svg"), pointer;
}  

.seven { 
   grid-area: 8 / 7 / 11 / 9; 
   cursor: url("/project-1-taylor-swift/assets/icons/mic.svg"), pointer;
} 
.eight { 
   grid-area: 9 / 1 / 12 / 4; 
   cursor: url("/project-1-taylor-swift/assets/icons/lightning.svg"), pointer;
}
.nine { 
   grid-area: 11 / 4 / 14 / 9;
   cursor: url("/project-1-taylor-swift/assets/icons/envelope.svg"), pointer;
}

.ten { 
   grid-area: 12 / 1 / 14 / 4; 
   cursor: url("/project-1-taylor-swift/assets/icons/snow.svg"), pointer;
}
.eleven { 
   grid-area: 14 / 1 / 17 / 5; 
   cursor: url("/project-1-taylor-swift/assets/icons/feather.svg"), pointer;
} 
.twelve { 
   grid-area: 14 / 5 / 17 / 9;
   cursor: url("/project-1-taylor-swift/assets/icons/search-heart.svg"), pointer;
}

@media (min-width: 768px) {
   .container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      padding: 20px;
      height: 80vh;
      width: 80vw;
      max-width: 1400px;
      gap: 20px;
   }

   .one { grid-area: 1 / 1 / 7 / 6; }
   .two { grid-area: 1 / 6 / 5 / 10; }
   .three { grid-area: 1 / 10 / 6 / 13; }

   .four { grid-area: 5 / 6 / 8 / 10; }
   .five { grid-area: 7 / 1 / 10 / 4; }
   .six { grid-area: 7 / 4 / 10 / 6; }

   .seven { grid-area: 6 / 10 / 9 / 13; }
   .eight { grid-area: 8 / 6 / 11 / 10; }
   .nine { grid-area: 9 / 10 / 13 / 13; }

   .ten { grid-area: 10 / 1 / 13 / 6; }
   .eleven { grid-area: 11 / 6 / 13 / 8; }
   .twelve { grid-area: 11 / 8 / 13 / 10; }
}