 body {
    /* background-color: rgb(244, 189, 226); */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

 .tile {
   background-color: black;
 }

.container {
   padding: 10px;
   background-color: rgb(172, 172, 172);
   min-height: 100vh;
   width: 95vw;
   /* margin: 0 auto; */
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(16, 60px); 
   gap: 8px;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.one { grid-area: 1 / 1 / 6 / 6; 
   background-color: rgb(182, 182, 159);}    
.two { grid-area: 1 / 6 / 4 / 9; }    
.three { grid-area: 4 / 6 / 6 / 9; }  

.four { grid-area: 6 / 1 / 9 / 4; }   
.five { grid-area: 6 / 4 / 8 / 9; }   
.six { grid-area: 8 / 4 / 11 / 7; }  

.seven { grid-area: 8 / 7 / 11 / 9; } 
.eight { grid-area: 9 / 1 / 12 / 4; }
.nine { grid-area: 11 / 4 / 14 / 9; }

.ten { grid-area: 12 / 1 / 14 / 4; }
.eleven { grid-area: 14 / 1 / 17 / 5; } 
.twelve { grid-area: 14 / 5 / 17 / 9; }

@media (min-width: 768px) {
   .container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      padding: 20px;
      height: 80vh;
      width: 80vw;
      max-width: 1400px;
      gap: 20px;
   }

   .one { grid-area: 1 / 1 / 7 / 6; }
   .two { grid-area: 1 / 6 / 5 / 10; }
   .three { grid-area: 1 / 10 / 6 / 13; }

   .four { grid-area: 5 / 6 / 8 / 10; }
   .five { grid-area: 7 / 1 / 10 / 4; }
   .six { grid-area: 7 / 4 / 10 / 6; }

   .seven { grid-area: 6 / 10 / 9 / 13; }
   .eight { grid-area: 8 / 6 / 11 / 10; }
   .nine { grid-area: 9 / 10 / 13 / 13; }

   .ten { grid-area: 10 / 1 / 13 / 6; }
   .eleven { grid-area: 11 / 6 / 13 / 8; }
   .twelve { grid-area: 11 / 8 / 13 / 10; }
}